/** utils*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}


/** player page*/

.link {
	display: inline-block;
	padding: 5px;
	border: 1px solid #efefef;
	margin-right: 10px;
	text-decoration: none;
}

.link:hover {
	background: #000;
	color: #fff;
}

.list-team {
	
}

.team-item {
	margin-right: 20px;
	float: left;
}
.title {
	text-align: center;
}

.team-fullname {
	width: 250px;
}

.team-number {
	width: 50px;
}

.team-fullname, .team-number {
	display: inline-block;
}